[package]
name = "replay-memory"
version = "0.2.0"
edition = "2021"

[lib]
name = "replay_memory"
crate-type = ["cdylib"]

[dependencies]
pyo3 = { version = "0.15.1", features = ["abi3-py36"] }
rand = "0.8.4"

[features]
extension-module = ["pyo3/extension-module"]
default = ["extension-module"]
